{
  "extends": ["react-app", "react-app/jest"],
  "plugins": ["simple-import-sort"],
  "rules": {
    "quotes": "warn",
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn",
    "react-hooks/exhaustive-deps": [
      1,
      {
        "enableDangerousAutofixThisMayCauseInfiniteLoops": true
      }
    ],
    "react/jsx-pascal-case": [
      "warn",
      {
        "allowNamespace": true
      }
    ],
    "testing-library/no-node-access": "warn",
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "react-i18next",
            "importNames": ["Trans", "useTranslation"],
            "message":
              "Please use UseUIComponents or UIComponentTrans from ./i18n.tsx instead",
          },
        ],
      },
    ],
  },
  "ignorePatterns": ["node_modules", "**/*.md", "generated"]
}
