:root {
  --text-neutral-primary: #00122E;
  --text-neutral-secondary: #2C3852BF;
  --text-neutral-tertiary: #2C385299;
  --text-neutral-quaternary: #0015404D;
  --text-neutral-ontint: #FFFFFF;
  --text-neutral-super: #1D326C;
  --text-colorful-outstanding: #0080FF;
  --text-colorful-serious: #F0483E;
  --text-colorful-notice: #FEA008;
  --text-colorful-noticedark: #E07F00;
  --text-colorful-positive: #00BA5D;
  --text-colorful-positivedark: #008F4C;
  --text-colorful-purple: #7E41FF;
  --link-outstandingnormal: #0080FF;
  --link-outstandinghover: #009DFF;
  --link-outstandingactive: #005ED1;
  --link-neutralnormal: #2C3852BF;
  --link-neutralhover: #2C385299;
  --link-neutralactive: #172640CC;
  --link-seriousnormal: #F0483E;
  --link-serioushover: #FF5252;
  --link-seriousactive: #C73D31;
  --fill-neutral-lightwhite: #FFFFFF99;
  --fill-neutral-trans-1: #EDF1FA99;
  --fill-neutral-trans-2: #E1E6F199;
  --fill-neutral-trans-3: #D3DAEB99;
  --fill-neutral-trans-4: #C0CBE099;
  --fill-neutral-trans-5: #ACBAD399;
  --fill-neutral-trans-7: #0A255599;
  --fill-neutral-trans-8: #172640CC;
  --fill-neutral-white: #FFFFFF;
  --fill-neutral-opaque-1: #F2F5FA;
  --fill-neutral-opaque-2: #EDF0F7;
  --fill-neutral-opaque-3: #E4E9F2;
  --fill-neutral-opaque-4: #D8DEEB;
  --fill-neutral-opaque-5: #CCD4E3;
  --fill-neutral-opaque-6: #A3B4CC;
  --fill-neutral-opaque-7: #6B7D99;
  --fill-neutral-opaque-8: #2D3A56;
  --fill-purple-base: #7E41FF;
  --fill-purple-lightactive: #7E41FF33;
  --fill-purple-lighthover: #7E41FF29;
  --fill-purple-light: #7E41FF1A;
  --fill-outstanding-deep: #1D326C;
  --fill-outstanding-dark: #005ED1;
  --fill-outstanding-base: #0080FF;
  --fill-outstanding-bright: #009DFF;
  --fill-outstanding-lightactive: #0088FF33;
  --fill-outstanding-lighthover: #0088FF29;
  --fill-outstanding-light: #0088FF1A;
  --fill-outstanding-thin: #0088FF0A;
  --fill-serious-deep: #7D2126;
  --fill-serious-dark: #C73D31;
  --fill-serious-base: #F0483E;
  --fill-serious-bright: #FF5252;
  --fill-serious-lightactive: #FF4A4A33;
  --fill-serious-lighthover: #FF4A4A29;
  --fill-serious-light: #FF4A4A1A;
  --fill-serious-thin: #FF4A4A0A;
  --fill-notice-deep: #8E671B;
  --fill-notice-dark: #E07F00;
  --fill-notice-base: #FEA008;
  --fill-notice-bright: #FEBA33;
  --fill-notice-lightactive: #FEA00833;
  --fill-notice-lighthover: #FEA00829;
  --fill-notice-light: #FEA0081A;
  --fill-notice-thin: #FEA0080A;
  --fill-positive-deep: #18544F;
  --fill-positive-dark: #008F4C;
  --fill-positive-base: #00BA5D;
  --fill-positive-bright: #23CF6D;
  --fill-positive-lightactive: #1EC97F33;
  --fill-positive-lighthover: #1EC97F29;
  --fill-positive-light: #1EC97F1A;
  --fill-positive-thin: #1EC97F0A;
  --stroke-neutral-lightwhite: #FFFFFF99;
  --stroke-neutral-trans-1: #E1E6F199;
  --stroke-neutral-trans-2: #D3DAEB99;
  --stroke-neutral-trans-3: #ACBAD399;
  --stroke-neutral-trans-4: #6B80A799;
  --stroke-neutral-white: #FFFFFF;
  --stroke-neutral-opaque-1: #EDF0F7;
  --stroke-neutral-opaque-2: #E4E9F2;
  --stroke-neutral-opaque-3: #CCD4E3;
  --stroke-neutral-opaque-4: #A3B4CC;
  --stroke-outstanding-base: #0080FF;
  --stroke-outstanding-light: #0088FF29;
  --stroke-serious-base: #F0483E;
  --stroke-serious-light: #FF4A4A29;
  --stroke-serious-thin: #FF4A4A1A;
  --pagebackground-primary: #FFFFFF;
  --pagebackground-grouped: #EDF0F7;
  --dim-undermenu: #3F63941A;
  --dim-single-dialogmask: #101A2966;
  --dim-double-dialogmask: #101A2999;
  --chart-blue-blue-1: #ADE5FF;
  --chart-blue-blue-2: #7FD2FF;
  --chart-blue-blue-3: #51BCFF;
  --chart-blue-blue-4: #19A3FF;
  --chart-blue-blue-5: #008CFF;
  --chart-blue-blue-6: #0775F2;
  --chart-blue-blue-7: #1064DA;
  --chart-blue-blue-8: #0F53C1;
  --chart-blue-blue-9: #0C3FA6;
  --chart-blue-blue-10: #05318D;
  --chart-green-green-1: #A2F0D5;
  --chart-green-green-2: #80E4BC;
  --chart-green-green-3: #62D9A4;
  --chart-green-green-4: #47CD8A;
  --chart-green-green-5: #21BE6A;
  --chart-green-green-6: #06AC53;
  --chart-green-green-7: #0C9646;
  --chart-green-green-8: #0C8137;
  --chart-green-green-9: #0A6B29;
  --chart-green-green-10: #05551B;
  --chart-purple-purple-1: #E1C1FF;
  --chart-purple-purple-2: #CFA3FF;
  --chart-purple-purple-3: #BE89FF;
  --chart-purple-purple-4: #A66BFF;
  --chart-purple-purple-5: #8E51FF;
  --chart-purple-purple-6: #753BF1;
  --chart-purple-purple-7: #612FD4;
  --chart-purple-purple-8: #4E27B9;
  --chart-purple-purple-9: #3D1D9F;
  --chart-purple-purple-10: #2B1385;
  --chart-red-red-1: #FFBCC1;
  --chart-red-red-2: #FFA8A9;
  --chart-red-red-3: #FF8989;
  --chart-red-red-4: #FC726E;
  --chart-red-red-5: #F4554C;
  --chart-red-red-6: #DE433B;
  --chart-red-red-7: #BB3935;
  --chart-red-red-8: #992F2D;
  --chart-red-red-9: #782725;
  --chart-red-red-10: #571E1E;
  --chart-yellow-yellow-1: #FFDE6C;
  --chart-yellow-yellow-2: #FED158;
  --chart-yellow-yellow-3: #FEC444;
  --chart-yellow-yellow-4: #FEB630;
  --chart-yellow-yellow-5: #FEA819;
  --chart-yellow-yellow-6: #E79305;
  --chart-yellow-yellow-7: #BB7A03;
  --chart-yellow-yellow-8: #926102;
  --chart-yellow-yellow-9: #6B4803;
  --chart-yellow-yellow-10: #483100;
  --chart-pink-pink-1: #FED1FE;
  --chart-pink-pink-2: #FDBCFD;
  --chart-pink-pink-3: #F99BF8;
  --chart-pink-pink-4: #F573F2;
  --chart-pink-pink-5: #ED5BE5;
  --chart-pink-pink-6: #E136C6;
  --chart-pink-pink-7: #CF23A9;
  --chart-pink-pink-8: #B5158D;
  --chart-pink-pink-9: #910B6E;
  --chart-pink-pink-10: #64054B;
  --chart-cyan-cyan-1: #A0ECEC;
  --chart-cyan-cyan-2: #83E2E3;
  --chart-cyan-cyan-3: #67D8D9;
  --chart-cyan-cyan-4: #3AC4C6;
  --chart-cyan-cyan-5: #1AACB4;
  --chart-cyan-cyan-6: #048BA1;
  --chart-cyan-cyan-7: #00728E;
  --chart-cyan-cyan-8: #00607B;
  --chart-cyan-cyan-9: #005068;
  --chart-cyan-cyan-10: #004155;
  --white-white: #FFFFFF;
  --white-white-a60: #FFFFFF99;
  --gray-gray-10: #F2F5FA;
  --gray-gray-20: #EDF0F7;
  --gray-gray-30: #E4E9F2;
  --gray-gray-40: #D8DEEB;
  --gray-gray-50: #CCD4E3;
  --gray-gray-60: #A3B4CC;
  --gray-gray-70: #6B7D99;
  --gray-gray-80: #2D3A56;
  --gray-gray-90: #172640;
  --gray-gray-100: #0D1B36;
  --gray-gray-110: #0A1833;
  --gray-gray-120: #00122E;
  --gray-gray-a60-1: #EDF1FA99;
  --gray-gray-a60-2: #E1E6F199;
  --gray-gray-a60-3: #D3DAEB99;
  --gray-gray-a60-4: #C0CBE099;
  --gray-gray-a60-5: #ACBAD399;
  --gray-gray-a60-6: #6B80A799;
  --gray-gray-a80-6: #6B80A7CC;
  --gray-gray-a60-7: #0A255599;
  --gray-gray-a60-8: #2C385299;
  --gray-gray-a75-8: #2C3852BF;
  --gray-gray-a80-9: #172640CC;
  --gray-gray-a30-10: #0015404D;
  --blue-blue-90: #1D326C;
  --blue-blue-60: #005ED1;
  --blue-blue-50: #0080FF;
  --blue-blue-40: #009DFF;
  --blue-blue-a20-50: #0088FF33;
  --blue-blue-a16-50: #0088FF29;
  --blue-blue-a10-50: #0088FF1A;
  --blue-blue-a04-50: #0088FF0A;
  --red-red-90: #7D2126;
  --red-red-60: #C73D31;
  --red-red-50: #F0483E;
  --red-red-40: #FF5252;
  --red-red-a20-50: #FF4A4A33;
  --red-red-a16-50: #FF4A4A29;
  --red-red-a10-50: #FF4A4A1A;
  --red-red-a04-50: #FF4A4A0A;
  --yellow-yellow-90: #8E671B;
  --yellow-yellow-60: #E07F00;
  --yellow-yellow-50: #FEA008;
  --yellow-yellow-40: #FEBA33;
  --yellow-yellow-a20-50: #FEA00833;
  --yellow-yellow-a16-50: #FEA00829;
  --yellow-yellow-a10-50: #FEA0081A;
  --yellow-yellow-a04-50: #FEA0080A;
  --green-green-90: #18544F;
  --green-green-60: #008F4C;
  --green-green-50: #00BA5D;
  --green-green-40: #23CF6D;
  --green-green-a20-50: #1EC97F33;
  --green-green-a16-50: #1EC97F29;
  --green-green-a10-50: #1EC97F1A;
  --green-green-a04-50: #1EC97F0A;
  --purple-purple-50: #7E41FF;
  --purple-purple-a20-50: #7E41FF33;
  --purple-purple-a16-50: #7E41FF29;
  --purple-purple-a10-50: #7E41FF1A;
}
