@import '../common/variables.scss';

.loading {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 0.2;
}

.loading-indicator__line1 {
 position: absolute;
 width: 5px;
 height: 48px;
 left: 9.33px;
 top: 40.5px;

 background: linear-gradient(180deg, #0080FF 0%, rgba(0, 128, 255, 0.16) 100%);
 border-radius: 5px;
 transform: rotate(-128deg);
 transform-origin: top left;

 animation: loading-indicator1 1100ms ease-out  infinite;
}

.loading-indicator__line2 {
  position: absolute;
  width: 5px;
  height: 48px;
  left: 40.8px;
  top: 8.4px;

  background: linear-gradient(180deg, #0080FF 0%, rgba(0, 128, 255, 0.16) 100%);
  border-radius: 5px;
  transform: rotate(-8deg);
  transform-origin: top left;

  animation: loading-indicator2 1100ms ease-out  infinite;
}

.loading-indicator__line3 {
  position: absolute;
  width: 5px;
  height: 48px;
  left: 52.9px;
  top: 51.8px;

  background: linear-gradient(180deg, #0080FF 0%, rgba(0, 128, 255, 0.16) 100%);
  border-radius: 5px;
  transform: rotate(112deg);
  transform-origin: top left;

  animation: loading-indicator3 1100ms ease-out  infinite;
}

@keyframes loading-indicator1 {
  0% {
      height: 48px;
      left: 9.33px;
      top: 40.5px;
  }
  50% {
      height: 5px;
      left: 9.33px;
      top: 40.5px;
  }
  51% {
      height: 5px;
      left: 43.2px;
      top: 14.02px;
}
 100%{
      height: 48px;
      left: 9.33px;
      top: 40.5px;
}
}

@keyframes loading-indicator2 {
  0% {
      height: 48px;
      left: 40.8px;
      top: 8.4px;
  }
  50% {
     height: 5px;
     left: 40.8px;
     top: 8.4px;
  }
  51% {
      height: 5px;
      left: 46.8px;
top: 51px;
}
100%{
     height: 48px;
     left: 40.8px;
     top: 8.4px;
}
}

@keyframes loading-indicator3 {
  0% {
      height: 48px;
      left: 52.9px;
      top: 51.8px;
  }
  50% {
      height: 5px;
      left: 52.9px;
      top: 51.8px;
  }
  51%{
    height: 5px;
    left: 13px;
    top: 35.7px;
}
  100%{
    height: 48px;
    left: 52.9px;
    top: 51.8px;
}
}
