.ant-dropdown,
.ant-dropdown-menu-submenu {
  background: $fills-opaque-primary-light;
  border-radius: 3px;
  min-width: 130px;
  box-sizing: content-box !important;
  box-shadow: none;
  border: none;

  > .ant-dropdown-menu {
    border: 1px solid #dfe4eb;
    box-shadow: 0px 8px 16px rgba(129, 138, 153, 0.18),
      0px 0px 4px rgba(235, 239, 245, 0.6);

    .ant-dropdown-menu-item-group-title {
      @include Inter();
      @include Uppercase();
      font-size: 12px;
      line-height: 18px;
      padding: 4px 16px;
      color: rgba(129, 138, 153, 0.6);
    }

    .ant-dropdown-menu-item-group-list {
      margin: 0;
    }

    .ant-dropdown-menu-item {
      min-width: 128px;
    }

    .ant-dropdown-menu-item,
    .ant-dropdown-menu-submenu-title {
      display: flex;
      padding: 4px 22px 4px 10px;
      @include Inter();
      font-size: 14px;
      line-height: 22px;
      color: $text-primary-light;

      &:not(.ant-dropdown-menu-item-disabled):hover {
        background-color: rgba($blue-60, 0.1);
        color: $blue-80;
      }

      &.ant-dropdown-menu-item-disabled {
        opacity: 0.5;
      }

      &.ant-dropdown-menu-item-danger {
        color: $text-light-serious;
        &:hover {
          background-color: rgba($text-light-serious, 0.1);
          color: $text-light-serious;
        }
      }

      &.item-danger-disabled {
        color: $text-light-serious;
        opacity: 0.5;
      }
    }

    .ant-dropdown-menu-item-divider,
    .ant-dropdown-menu-submenu-title-divider {
      margin-left: 0;
      margin-right: 0;
      background: rgba(213, 219, 227, 0.6);
    }

    .icon-wrapper {
      display: flex;
      width: 100%;
      .icon-inner {
        margin-right: 4px;
      }
    }
  }
}

.ant-dropdown-menu-submenu.ant-dropdown-menu {
  padding: 0;
  > [role='menu'] {
    margin: 0;
  }
}

.ant-dropdown.no-animation-enter {
  display: block;
  opacity: 1 !important;
}

.ant-dropdown.no-animation-leave {
  display: none;
}

.ant-message-notice-content {
  max-width: 800px;
  .ant-message-custom-content {
    overflow: hidden;
    white-space: nowrap;			
    text-overflow: ellipsis;
  }
}
