#top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #222;
  color: #cec17e;
  height: 36px;
  padding: 0 4px;
}

#shortcuts {
  padding: 4px 6px;
  color: #eee;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  border: 0;
  background: #525252;
  position: relative;
}

#shortcuts ul {
  display: none;
  position: absolute;
  right: 0px;
  top: 30px;
  word-wrap: none;
  white-space: nowrap;
}

#shortcuts:hover ul {
  display: inherit;
}

#sendCtrlAltDelButton {
  padding: 4px 6px;
  color: #eee;
  cursor: pointer;
  outline: none;
  border-radius: 2px;
  border: 0;
  background: #525252;
  opacity: 0.8;
}

#sendCtrlAltDelButton:hover {
  opacity: 1;
}

#screen canvas {
  margin-top: 0 !important;
}
